:root {
  --primary-color: #ffbda1;
  --secondary-color: #e05576;
  --tertiary-color: #703951;
  --quaternary-color: #c9ad9b;
  --background-color: #452a37;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
